---
name: "Commit stage"

on:
  workflow_call:
    inputs:
      build_datetime:
        description: "Build datetime, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_timestamp:
        description: "Build timestamp, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_epoch:
        description: "Build epoch, set by the CI/CD pipeline workflow"
        required: true
        type: string
      nodejs_version:
        description: "Node.js version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      python_version:
        description: "Python version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      terraform_version:
        description: "Terraform version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      version:
        description: "Version of the software, set by the CI/CD pipeline workflow"
        required: true
        type: string

jobs:
  scan-secrets:
    name: "Scan secrets"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Full history is needed to scan all commits
      - name: "Scan secrets"
        uses: ./.github/actions/scan-secrets
  check-file-format:
    name: "Check file format"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Full history is needed to compare branches
      - name: "Check file format"
        uses: ./.github/actions/check-file-format
  # Replaced by pre-commit
  # check-markdown-format:
  #   name: "Check Markdown format"
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 2
  #   steps:
  #     - name: "Checkout code"
  #       uses: actions/checkout@v6
  #       with:
  #         fetch-depth: 0 # Full history is needed to compare branches
  #     - name: "Check Markdown format"
  #       uses: ./.github/actions/check-markdown-format
  # Will be migrated to pre-commit in near future
  # check-english-usage:
  #   name: "Check English usage"
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 2
  #   steps:
  #     - name: "Checkout code"
  #       uses: actions/checkout@v6
  #       with:
  #         fetch-depth: 0 # Full history is needed to compare branches
  #     - name: "Check English usage"
  #       uses: ./.github/actions/check-english-usage
  # Replaced by pre-commit
  # lint-terraform:
  #   name: "Lint Terraform"
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 2
  #   steps:
  #     - name: "Checkout code"
  #       uses: actions/checkout@v6
  #     - name: "Lint Terraform"
  #       uses: ./.github/actions/lint-terraform
  count-lines-of-code:
    name: "Count lines of code"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
      - name: "Count lines of code"
        uses: ./.github/actions/create-lines-of-code-report
        with:
          build_datetime: "${{ inputs.build_datetime }}"
          build_timestamp: "${{ inputs.build_timestamp }}"
          idp_aws_report_upload_account_id: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}"
          idp_aws_report_upload_region: "${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}"
          idp_aws_report_upload_role_name: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}"
          idp_aws_report_upload_bucket_endpoint: "${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}"
  scan-dependencies:
    name: "Scan dependencies"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
      - name: "Scan dependencies"
        uses: ./.github/actions/scan-dependencies
        with:
          build_datetime: "${{ inputs.build_datetime }}"
          build_timestamp: "${{ inputs.build_timestamp }}"
          idp_aws_report_upload_account_id: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}"
          idp_aws_report_upload_region: "${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}"
          idp_aws_report_upload_role_name: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}"
          idp_aws_report_upload_bucket_endpoint: "${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}"
  pre-commit:
    runs-on: ubuntu-latest
    # permissions:
    #   id-token: write    # REQUIRED for OIDC token
    #   contents: read     # For checkout
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
      #     aws-region: "eu-west-2"
      - name: Run mise
        uses: ./.github/actions/install-mise

      - name: Run pre-commit checks
        uses: ./.github/actions/perform-pre-commit

  check-tf:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [core/bootstrap, core/network, core/rds-postgres, core/shared_services, dev/hometest-app]
      max-parallel: 1  # Forces sequential
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./.github/actions/deploy-terragrunt
        with:
          working_directory: infrastructure/environments/poc/core/${{ matrix.module }}
          aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
          action: "plan"
          lock_enabled: "false"  # Disable locking for plan to avoid conflicts in PRs, since these are not actually applied
